{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}

        <form method="post" class="form-general">
            <label for="title"><h3>Title</h3></label>
            <input name="title" id="title" type="text" value="{{ request.form['title'] }}" required>
            <label for="body"><h3>Body</h3></label>

            <!-- Editor container -->
            <div id="editor"></div>
                <input type="hidden" name="body" id="body">
                <input type="submit" value="Save">

                <script src="{{ url_for('static', filename='js/editor.js') }}"></script>

                <!-- Initialize Quill editor -->
                <script>
                  document.addEventListener('DOMContentLoaded', function() {
                      const quill = initializeQuillEditor('#editor', 'form');
                  });
                </script>
        </form>

{% endblock %}
