{% extends 'base.html' %}

{% block header %}
    <article class="post">
        <h1><a href="{{ url_for('blog.detail_view', id=post['id']) }}">{{ post['title'] }}</a></h1>
        <div class="post-header">
            <div class="byline">
                by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
            </div>
            {% if g.user %}
                <div class="actions">
                    <a class="action" href="{{ url_for('blog.create') }}">New</a>
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}

{% block content %}
    <!-- Add Quill JS -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

        <article class="post">
            <div class="post-content post-content-{{ post["id"] }}">
                {{ post['body'] | safe }}
            </div>
        </article>

    <div class="list-of-posts">
        <h3><i>More posts from Senior Junior</i></h3>
        {% for post in posts %}
            <p><b>>>></b> <a href="{{ url_for('blog.detail_view', id=post['id']) }}">{{ post['title'] }}</a></p>
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize the post content as a read-only Quill instance
                new Quill('.post-content-{{ post["id"] }}', {
                    modules: {
                        toolbar: false,
                        checklist: {enabled: true}
                    },
                    theme: 'snow',
                    readOnly: true
                });
        });
    </script>
{% endblock %}
