{% extends 'base.html' %}

{% block header %}
    <article class="post">
        <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        {% if g.user %}
            <a class="action" href="{{ url_for('blog.create') }}">New</a>
            <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </article>
{% endblock %}

{% block content %}
    <!-- Add Quill JS -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

        <article class="post">
            <div class="post-content post-content-{{ post["id"] }}">
                {{ post['body'] | safe }}
            </div>
        </article>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize the post content as a read-only Quill instance
                new Quill('.post-content-{{ post["id"] }}', {
                    modules: {
                        toolbar: false,
                        checklist: {enabled: true}
                    },
                    theme: 'snow',
                    readOnly: true
                });
        });
    </script>
{% endblock %}
