/* Define variables for colors */
:root {
    --base: #04040C;
    --contrast: #646464;
    --primary: #05C605;
    --accent: #EA9217;
    --midtone: #BFBFBF;
    --font-choice: Arial, sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--base);
}

h1, h3 {
    font-family: var(--font-choice);
    color: var(--primary);
    margin: 1rem 0;
}

h1 a {
    text-decoration: none;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--base);
    background-color: var(--primary);
    text-decoration: none;
    padding: 0.3rem;
}

p {
    font-family: var(font-choice);
    color: var(--primary);
    margin: 0;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li {
    margin: 0 0.5em;
}

nav ul li a {
    font-weight: bold;
    margin: 5px;
    padding: 0.3rem;
}

nav ul li a:hover,
.menu-toggle:hover {
    background-color: var(--primary);
    color: var(--base);
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background: var(--base);
    color: var(--primary);
    font-family: var(--font-choice);
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .navbar-items {
        display: none;
        flex-direction: column;
        background: var(--base);
        position: absolute;
        right: 0;
        text-align: right;
        width: 200px;
        padding: 0.5rem;
        line-height: 2.3;
    }

    .navbar-items.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        border: none;
        outline: none;
    }

    .projects {
        grid-template-columns: 1fr;
        padding: 0.5em;
    }
}


footer {
    background-color: var(--base);
    color: var(--primary);
    padding: 1em;
    border-top-color: var(--primary);
    border-top-style: solid;
    border-top-width: 6px;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--base);
    border-bottom-color: var(--primary);
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.flex-container h1,
.flex-container nav ul li a {
    font-size: 1.5rem;
    font-family: var(--font-choice);
}

.content {
    padding: 0 1rem 1rem;
}

.flash {
    margin: 1em 0;
    padding: 1em;
}

.post > header {
    display: flex;
    font-size: 0.85em;
}

.post > header h1 {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.post .about {
    font-size: 0.9rem;
    color: var(--accent);
    font-style: italic;
    font-family: var(--font-choice);
    margin-top: 0.25rem;
}

.post-content {
    font-family: var(--font-choice);
    font-size: 1.50rem;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.post-content .ql-editor {
    white-space: pre-line;
    font-family: var(--font-choice);
    font-size: 1.50rem;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.ql-container {
    padding-top: 1em;
    border: none !important;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input {
    width: 200px;
    margin-bottom: 1em;
}

.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    max-width: 100px;
    min-width: 10em;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-color: var(--accent);
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current-page {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.nav-blog-header-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-blog-header {
    margin: 0;
}

.nav-blog-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.projects {
    display: grid; /* This puts the cards in a grid, but doesn't make the images the same size. */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    /*border: 2px solid;
    border-radius: 8px;
    overflow: hidden;
    border-color: var(--primary);*/
    border-bottom: 5px solid;
    border-color: var(--primary);
    text-align: left;
    padding: 1em;
}

.card img {
    width: 100%;
    border-bottom: 5px solid;
}

.card h3 {
    margin: 0.5em 0;
    font-size: 1.50rem;
}

.card p {
    font-size: 1.25rem;
    font-family: var(--font-choice);
    margin: 1rem 0;
}

/* Styling for the footer */
.footer {
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

/* About section of the footer for the base template, not the about page. */
.about {
    flex: 0;
    min-width: 300px;
}

.recent-posts {
    flex: 1;
    min-width: 300px;
}

.about p {
    font-size: 1rem;
    font-family: var(--font-choice);
    line-height: 1.3;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.byline {
    font-size: 1rem;
    font-family: var(--font-choice);
    font-style: italic;
    color: var(--accent);
}

header .action {
    padding: 0.5rem;
    background-color: var(--base);
    color: var(--primary);
    cursor: pointer;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.action {
    font-family: var(--font-choice);
    font-size: 1rem;
    margin: 5px; 
    padding: 0.5rem;
    background-color: var(--base);
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.action:hover {
    background-color: var(--primary);
    color: var(--base);
    text-decoration: none;
}

.recent-posts .post-link-preview {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
}

.recent-posts .post-link {
    font-size: 1rem;
    font-family: var(--font-choice);
    padding: 1em;
    flex: 1;
    max-width: 300px;
    text-align: left;
}

/* CSS for the About page. */
.about-page-container {
    padding: 2rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    font-family: var(--font-choice);
    color: var(--primary);
    font-size: 1.25rem;
    line-height: 1.3;
}

.about-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    max-width: 400px;
}

.about-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 1;
    min-width: 250px;
    line-height: 1.5;
}

.about-links a {
    padding: 0.3rem;
}

.about-content {
    margin-top: 2rem;
    border-top: 5px solid;
    border-top-color: var(--primary);
}

.list-of-posts {
    line-height: 1.5;
    border-top-style: dotted;
    border-top-color: var(--accent);
}

.list-of-posts p {
    font-family: var(--font-choice);
    color: var(--primary);
}

/* Styling for post create page. */
.form-general {
    color: var(--primary);
}

.form-general label {
    background-color: var(--base);
}

.form-general input[type="text"],
.form-general input[type="submit"],
#editor {
    font-size: 1.25rem;
    background-color: var(--base);
    border-color: var(--primary);
    color: var(--primary);
    width: 50%;
}

.form-general input[type="submit"]:hover {
    background-color: var(--primary);
    color: var(--base);
    text-decoration: none;
}

.ql-toolbar {
    border: 2px solid !important;
}

.ql-toolbar svg {
    fill: var(--accent) !important;
}

.ql-toolbar button:hover {
    background-color: var(--primary) !important;
    color: var(--base) !important;
}

.ql-formats button:hover {
    background-color: var(--primary) !important;
    color: var(--base) !important;
}

.ql-picker:hover {
    background-color: var(--primary) !important;
    color: var(--base) !important;
}

.ql-toolbar .ql-picker-options {
    background-color: var(--base) !important;
    color: var(--primary) !important;
}

