/* Define variables for colors */
:root {
    --base: #04040C;
    --contrast: #646464;
    --primary: #05C605;
    --accent: #EA9217;
    --midtone: #BFBFBF;
    --font-choice: Arial, sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--base);
}

h1, h3 {
    font-family: var(--font-choice);
    color: var(--primary);
    margin: 1rem 0;
}

a {
    color: var(--primary);
}

p {
    font-family: var(font-choice);
    color: var(--primary);
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    font-weight: bold;
}

nav ul li a:hover {
    
}

nav ul li span,

header .action {
    display: block;
    /*padding: 0.5rem;*/
    padding: 10px 16px;
    background-color: #181A1B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: var(--base);
    color: var(--primary);
    padding: 1em;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--base);
    border-bottom-color: var(--primary);
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.flex-container h1,
.flex-container nav ul li a {
    font-size: 1.5rem;
    font-family: var(--font-choice);
}

.action-new {
    display: inline-block;
    margin: 5px; 
    /*padding: 0.5rem;*/
    padding: 10px 16px;
    background-color: #181A1B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    padding: 0 1rem 1rem;
}

.flash {
    margin: 1em 0;
    padding: 1em;
}

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.post .about {
    font-size: 0.9rem;
    color: var(--accent);
    font-style: italic;
    font-family: var(--font-choice);
    margin-top: 0.25rem;
}

.post .body {
    white-space: normal;
    font-family: var(--font-choice);
    font-size: 1.50rem;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input {
    width: 200px;
    margin-bottom: 1em;
}

.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    max-width: 100px;
    min-width: 10em;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-color: var(--accent);
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current-page {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.nav-blog-header-list {
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-blog-header {
    margin: 0;
}

.nav-blog-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.projects {
    display: grid; /* This puts the cards in a grid, but doesn't make the images the same size. */
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 1.5em;
    padding: 2em;
}

.card {
    /*border: 2px solid;
    border-radius: 8px;
    overflow: hidden;
    border-color: var(--primary);*/
    border-bottom: 5px solid;
    border-color: var(--primary);
    text-align: left;
    padding: 1em;
}

.card img {
    width: 100%;
    border-bottom: 5px solid;
}

.card h3 {
    margin: 0.5em 0;
    font-size: 1.50rem;
}

.card p {
    font-size: 1.25rem;
    font-family: var(--font-choice);
}

/* Styling for the footer */
.footer {

}

.footer-content {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.about {
    flex: 0;
    min-width: 300px;
}

.recent-posts {
    flex: 1;
    min-width: 250px;
}

.about p {
    font-size: 1rem;
    font-family: var(--font-choice);
    line-height: 1.6;
}

.recent-posts .post-link-preview {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
}

.recent-posts .post-link {
    font-size: 1rem;
    font-family: var(--font-choice);
    padding: 1em;
    flex: 1;
    max-width: 300px;
    text-align: left;
}
