
{% extends 'base.html' %}

{% block content %}
<div class="about-page-container">
    <div class="about-header">
        <div class="about-image">
            <img src="{{ url_for('static', filename='images/chauncey.jpg') }}">
        </div>
        <div class="about-links">
            <h2><b>Chauncey Pelton</b></h2>
            <p>Software Developer</p>
            <a href="{{ url_for('home.homepage') }}"><i class="fa fa-th-large fa-fw"></i>Portfolio</a> 
            <a href="{{ url_for('home.aboutpage') }}"><i class="fa fa-user fa-fw"></i>About</a> 
            <a href="{{ url_for('blog.index') }}"><i class="fa fa-file fa-fw"></i>Blog</a>
            <a href="https://github.com/orinax" target="_blank"><i class="fa fa-github fa-fw"></i>GitHub</a>
            <a href="https://www.linkedin.com/in/chauncey-pelton/" target="_blank"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a>
        </div>
    </div>

    <div class="about-content">
        <h4 id="about"><b>About Me</b></h4>
        <p>I am open to opportunities where I can contribute meaningfully, grow as a developer, and collaborate with others who care about building great software.</p>

        <p>Now graduated with a Computer Science degree from Fitchburg State University, I'm focused on building the next chapter of my career as a software developer. My path began with self-taught programming, evolved through formal education, and continues today with a variety of side projects that push my skills further in both practical and creative directions.</p>

        <p>Before tech, I worked as an educator—a background that taught me how to learn quickly, communicate clearly, and adapt to new challenges. Those strengths have translated naturally into my work as a developer.</p>

        <p>I work primarily in Python and enjoy building tools and web apps using Flask. I’m also continuing to grow my skills in C++. No matter the language or framework, I enjoy solving problems and writing code that makes things simpler and smarter.</p>
    </div>
</div>

{% endblock %}
