
{% extends 'base.html' %}

{% block content %}

  <hr>

  <div style="margin-bottom:32px">
      <h4 id="about"><b>About Me</b></h4>
      <p>I am open to opportunities where I can contribute meaningfully, grow as a developer, and collaborate with others who care about building great software.</p>

      <p>Now graduated with a Computer Science degree from Fitchburg State University, I'm focused on building the next chapter of my career as a software developer. My path began with self-taught programming, evolved through formal education, and continues today with a variety of side projects that push my skills further in both practical and creative directions.</p>

      <p>Before tech, I worked as an educator—a background that taught me how to learn quickly, communicate clearly, and adapt to new challenges. Those strengths have translated naturally into my work as a developer.</p>

      <p>I work primarily in Python and enjoy building tools and web apps using Flask. I’m also continuing to grow my skills in C++. No matter the language or framework, I enjoy solving problems and writing code that makes things simpler and smarter.</p>

  <hr>

{% endblock %}
