
{% extends 'base.html' %}

{% block content %}
  <!-- Grid of Projects-->
    <section class="projects">
        <div class="card">
            <h3><b><a href="https://github.com/Orinax/CommandLineRail" target="_blank">Command Line Rail</a></b></h3>
            <p>An idle command line game that allows players to watch trains travel and transport people on the command line.</p>
            <img src="{{ url_for('static', filename='images/clr.png') }}" alt="Trains" style="width:100%">
        </div>
        <div class="card">
            <h3><b><a href="https://github.com/Orinax/Snake-Game-using-Python-Curses" target="_blank">Snake</a></b></h3>
            <p>A version of the classic Snake game, written with Python and Curses. Not my own design, but when I came across it on GitHub it was broken. I was able to get it into a working state.</p>
            <img src="{{ url_for('static', filename='images/snake.png') }}" alt="Snake" style="width:100%">
        </div>
        <div class="card">
            <h3><b><a href="https://github.com/Security-International-Group/HARDN" target="_blank">Project HARDN</a></b></h3>
            <p>A project focused on security and system hardening for Debian and Ubuntu based distributions. This is the first Open Source Project I joined and began contributing to.</p>
            <img src="{{ url_for('static', filename='images/hardn.png') }}" alt="Project HARDN" style="width:100%">
        </div>
        <div class="card">
            <h3><b>Project Waterfall Scheduler</b></h3>
            <p>This program allows a Google Workspace Administrator to create thousands of events across multiple calendars with a single command. Currently a command line program, I am working with a partner to upgrade this to a fleshed out web app.</p>
            <img src="{{ url_for('static', filename='images/waterfall_scheduler.png') }}" alt="Project Waterfall Scheduler" style="width:100%">
        </div>
        <div class="card">
            <h3><b><a href="https://github.com/Orinax/HumanFlaskProject" target="_blank">Flask Web Blog & Portfolio</a></b></h3>
            <p>Instead of using a premade website maker I used Flask to put this site together. It showcases my learning journey and my personal projects.</p>
            <img src="{{ url_for('static', filename='images/flasklogo.jpg') }}" alt="Flask Logo" style="width:100%">
        </div>
    <section>

  <hr>

  <div style="margin-bottom:32px">
    <h4 id="about"><b>About Me</b></h4>
    <p>I am open to opportunities where I can contribute meaningfully, grow as a developer, and collaborate with others who care about building great software.</p>

    <p>Now graduated with a Computer Science degree from Fitchburg State University, I'm focused on building the next chapter of my career as a software developer. My path began with self-taught programming, evolved through formal education, and continues today with a variety of side projects that push my skills further in both practical and creative directions.</p>

    <p>Before tech, I worked as an educator—a background that taught me how to learn quickly, communicate clearly, and adapt to new challenges. Those strengths have translated naturally into my work as a developer.</p>

    <p>I work primarily in Python and enjoy building tools and web apps using Flask. I’m also continuing to grow my skills in C++. No matter the language or framework, I enjoy solving problems and writing code that makes things simpler and smarter.</p>

    <hr>

{% endblock %}

<!--
</html>
-->
