<!DOCTYPE html>
<html>
<head>
    <title>Chauncey Pelton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Old css stuff -->
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- For Bootstrapcdn
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->
    <!-- Include stylesheet for Quill.js -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <body>
</head>

{#<body>#}

<!-- Sidebar/menu -->
<!--
<nav><br>
  <div>
    <img src="{{ url_for('static', filename='images/chauncey.jpg') }}" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Chauncey Pelton</b></h4>
    <p>Software Developer</p>
  </div>
  <div>
    <a href="{{ url_for('home.homepage') }}">Portfolio</a> 
    <a href="{{ url_for('home.homepage') }}#about">About</a> 
    <a href="{{ url_for('blog.index') }}">Blog</a>
    <a href="https://github.com/orinax" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/chauncey-pelton/" target="_blank">LinkedIn</a>
  </div>
</nav>
-->

<!-- !PAGE CONTENT! -->
<div>


  <!-- Header -->
  <header class="site-header" id="portfolio">
  <!--  <a href="#"><img src="{{ url_for('static', filename='images/chauncey_cropped.jpg') }}" style="width:65px;"></a> -->
      <div class="flex-container">
          <!-- Title here -->
          <h1><b>Senior Junior</b></h1>

          <!-- Navigation goes here -->
          <nav>
              <ul>
                  <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
                  <li><a href="{{ url_for('home.homepage') }}">Portfolio</a></li>
                  <li><a href="{{ url_for('home.homepage') }}#about">About</a></li>
              </ul>
          </nav>
      </div>
  </header>



        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>


  <!-- Footer -->
  <footer>
  <div>
    <div>
      <h3>ABOUT THIS BLOG</h3>
      <p>&copy; 2025 Chauncey Pelton. All rights reserved.</p>
      <p>This site serves as a space to share my projects, ideas, and progress as I continue learning and building.<p>
    </div>
  
    <div>
      <h3>RECENT POSTS</h3>
      <ul>
        {% for post in recent_posts %} 
        <li>
          <div style="width:40px"> 
            <img src="{{ url_for('static', filename='images/post_icon.png') }}" style="width:50px">
          </div>
          <div>
            <span><a href="{{ url_for('blog.detail_view', id=post['id']) }}">{{ post['title'] }}</a><br></span>
            <span>{{ post['created'] }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>POPULAR TAGS</h3>
      <p>
        <span>These</span> <span>Tags</span> <span>Don't</span>
        <span>Work</span> <span>Yet</span> <span>But</span>
        <span>Hopefully</span> <span>They</span> <span>Will</span>
        <span>Some</span> <span>Day</span> <span>We'll see...</span>
      </p>
    </div>

  </div>
  </footer>


<!-- End page content -->
</div>

<!-- Get rid of the sidebar?
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
-->

</body>

</div>
{#</body>#}




</html>
