<!DOCTYPE html>
<html>
<head>
    <title>Chauncey Pelton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Old css stuff -->
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- For Bootstrapcdn
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->
    <!-- Include stylesheet for Quill.js -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

</head>
<body>


    {#<body>#}

    <!-- Sidebar/menu -->
    <!--
    <nav><br>
      <div>
        <img src="{{ url_for('static', filename='images/chauncey.jpg') }}" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Chauncey Pelton</b></h4>
        <p>Software Developer</p>
      </div>
      <div>
        <a href="{{ url_for('home.homepage') }}">Portfolio</a> 
        <a href="{{ url_for('home.homepage') }}#about">About</a> 
        <a href="{{ url_for('blog.index') }}">Blog</a>
        <a href="https://github.com/orinax" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/chauncey-pelton/" target="_blank">LinkedIn</a>
      </div>
    </nav>
    -->

    <!-- !PAGE CONTENT! -->
    <div>


      <!-- Header -->
      <header class="site-header" id="portfolio">
      <!--  <a href="#"><img src="{{ url_for('static', filename='images/chauncey_cropped.jpg') }}" style="width:65px;"></a> -->
          <div class="flex-container">
              <!-- Title here -->
            <h1><b><a href="{{ url_for('blog.index') }}">Senior Junior</a></b></h1>

              <!-- Navigation goes here -->
              <nav>
                  <button class="menu-toggle">Menu</button>
                  <ul class="navbar-items">
                      <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
                      <li><a href="{{ url_for('home.homepage') }}">Portfolio</a></li>
                      <li><a href="{{ url_for('home.aboutpage') }}">About</a></li>
                      {% if g.user %}
                          <li><a href="{{ url_for('home.aboutpage') }}">{{ g.user['username'] }}</a></li>
                          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                      {% endif %}
                  </ul>
              </nav>
          </div>
      </header>



            <main class="content">
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </main>


      <!-- Footer -->
      <footer class="footer">
          <div class="footer-content">
              <div class="about">
                  <h3>ABOUT THIS BLOG</h3>
                  <p>&copy; 2025 Chauncey Pelton. All rights reserved.</p>
                  <p>This site serves as a space to share my projects, ideas, and progress as I continue learning and building.<p>
              </div>
              <div class="recent-posts">
                  <h3>RECENT POSTS</h3>
                  <div class="post-link-preview">
                      {% for post in recent_posts %} 
                      <article class="post-link">

                          <a href="{{ url_for('blog.detail_view', id=post['id']) }}">{{ post['title'] }}</a><br>
                          <p>{{ post['created'] }}</span></p>
                      </article>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </footer>


    <!-- End page content -->
    </div>

</body>

{#</body>#}




</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Toggle a Menu button to display depending on screen size.
        const toggleButton = document.querySelector('.menu-toggle');
        const navbarItems = document.querySelector('.navbar-items');

        toggleButton.addEventListener('click', function() {
            navbarItems.classList.toggle('show');
            event.stopPropagation();
        });

        // Make the menu close by clicking anywhere else on the page.
        document.addEventListener('click', function() {
            if (navbarItems.classList.contains('show')) {
                navbarItems.classList.remove('show');
        }
        });

        // Keep the menu open if the clicks are inside the menu
        navbarItems.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    });
</script>
