<!DOCTYPE html>
<html>
<head>
    <title>Chauncey Pelton</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Include stylesheet for Quill.js -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    </style>
    <body class="w3-light-grey w3-content" style="max-width:1600px">
</head>

{#<body>#}

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="{{ url_for('static', filename='images/chauncey.jpg') }}" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Chauncey Pelton</b></h4>
    <p class="w3-text-grey">Software Developer</p>
  </div>
  <div class="w3-bar-block">
      <a href="{{ url_for('home.homepage') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Portfolio</a> 
      <a href="{{ url_for('home.homepage') }}#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>About</a> 
    <a href="{{ url_for('blog.index') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file fa-fw w3-margin-right"></i>Blog</a>
    <a href="https://github.com/orinax" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-github fa-fw w3-margin-right"></i>GitHub</a>
    <a href="https://www.linkedin.com/in/chauncey-pelton/" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-linkedin fa-fw w3-margin-right"></i>LinkedIn</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">


  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>My Portfolio</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
    <!--
      <span class="w3-margin-right">Filter:</span> 
      <button class="w3-button w3-black">DOES</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>NOT</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>WORK</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>YET</button>
    --> 
    </div>
    </div>
  </header>



{#    <div class="container">#}
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
{#    </div>#}


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>ABOUT THIS BLOG</h3>
      <p>&copy; 2025 Chauncey Pelton. All rights reserved.</p>
      <p>This site serves as a space to share my projects, ideas, and progress as I continue learning and building.<p>
    </div>
  
    <div class="w3-third">
      <h3>RECENT POSTS</h3>
      <ul class="w3-ul">
        {% for post in recent_posts %} 
        <li class="w3-padding-16">
          <div class="w3-col w3-left-align" style="width:40px"> 
            <img src="{{ url_for('static', filename='images/post_icon.png') }}" class="w3-left w3-margin-right" style="width:50px">
          </div>
          <div class="w3-rest w3-container">
            <span class="w3-large"><a href="{{ url_for('blog.detail_view', id=post['id']) }}" class="w3-text-white">{{ post['title'] }}</a><br></span>
            <span class="w3-small w3-text-white">{{ post['created'] }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="w3-third">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">These</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Tags</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Don't</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Work</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Yet</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">But</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Hopefully</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">They</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Will</span>
        <span class="w3-tag w3-grey w3-small w3-margin-bottom">Some</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Day</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">We'll see...</span>
      </p>
    </div>

  </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a> | Template by <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryw3css_templates_portfolio&stacked=h" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.schools</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>

</div>
{#</body>#}




</html>
